/**
 * @file css/video/anchro.css
 * @author leeight
 */

.anchor {
    background: #ffffff;
    border: 1px solid #e6edf0;
    border-radius: 4px;
}
.anchor .profile {
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid #e6edf0;
    position: relative;
}

.profile .avatar,
.profile .info {
    float: left;
}
.profile .avatar {
    margin-right: 20px;
}
.profile .avatar img {
    border-radius: 5px;
}
.profile .info {
    padding: 20px 0 0 0;
}
.profile .info h3 strong {
    background: #00acff;
    border-radius: 100px;
    padding: 5px 12px;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    margin-left: 10px;
}
.profile .info h3 .icon-tv {
    position: relative;
    top: 2px;
}
.profile .info p {
    color: #d1d2d3;
    font-size: 12px;
    padding: 15px 0 0 0;
}
.profile .info h3 {
    font-size: 20px;
}
.profile .follow {
    position: absolute;
    top: 20px;
    right: 20px;
}
.profile .follow .icon-plus {
    position: relative;
    top: 3px;
}
.profile .follow a {
    background:#fd472e;
    border-radius: 2px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    padding: 5px 15px;
    padding-left: 10px;
}
.profile .disabled a {
    background: #ccc;
}
.navs {
    text-align: center;
    position: relative;
    height: 53px;
}
.total-count {
    position: absolute;
    left: 20px;
    top: 18px;
    font-size: 16px;
}
.total-count strong {
    background: #f5f8fa;
    border-radius: 100px;
    height: 20px;
    padding: 4px 20px;
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
}

/* patch */
ul.tab {
    margin-bottom: 0;
    border-bottom: none;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    bottom: -3px;
}