/**
 * @file css/video/category.css
 * @author leeight
 */

.categories {
    background: #ffffff;
    border: 1px solid #e6edf0;
    border-radius: 4px;
    padding: 20px;
    padding-bottom: 0;
}
.categories table {
    width: 100%;
}
.categories th {
    width: 100px;
    font-size: 16px;
    color: #34373b;
    text-align: left;
}
.categories th.all a {
    color: #fd472e;
}
.categories td {
    font-size: 14px;
    line-height: 30px;
}
.categories td a {
    opacity: 0.5;
    color: #34373b;
    margin-right: 10px;
}
.categories td a.active {
    background: #fd472e;
    border-radius: 100px;
    opacity: 1;
    color: #fff;
    padding: 3px 10px;
}
.categories .search-nav {
    text-align: center;
    position: relative;
    border-top: 1px solid #e6edf0;
    margin-top: 10px;
    height: 53px;
}
.categories .search-nav div {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 16px;
    color:#333333;
}
.categories .search-nav strong {
    opacity: 0.5;
    color: #34373b;
    border-radius: 100px;
    padding: 3px 10px;
    background: #f5f8fa;
    font-weight: normal;
    font-size: 12px;
    margin-left: 5px;
}

/* patch */
ul.tab {
    margin-bottom: 0;
    border-bottom: none;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    bottom: -3px;
}