/**
 * @file css/video/home.css
 * @author leeight
 */

main {
    background: #f6fcff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    font-size: 14px;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.topic .header {
    overflow: hidden;
    padding: 15px 0;
}

.topic .header h2,
.topic .header .anchors li {
    float: left;
}

.topic .header h2 {
    font-size:26px;
    color:#fd472e;
    line-height: 30px;
    width: 200px;
}
.topic .header h2 img {
    margin-right: 10px;
}

.topic .header .anchors {
    margin-top: 5px;
    font-size:14px;
}
.topic .header .anchors a {
    color:rgba(52,54,58,0.50);
}
.topic .header .anchors li {
    margin-right: 20px;
    border:1px solid #f5f8fa;
    border-radius:100px;
    height: 22px;
    padding: 0 10px;
}
.topic .header .anchors li:hover {
    background: #fd472e;
}
.topic .header .anchors li:hover a {
    color: white;
}

.layout {
    overflow: hidden;
}
.layout .videos,
.layout .ranks {
    float: left;
}

.layout .videos {
    width: 912px;
    margin-right: -16px;
}

.layout .ranks {
    width: 288px;
    height: 490px;
    margin-left: 16px;
    background: #fff;
}

.topic .video {
    width: 288px;
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
}
.topic .video figure {
    margin: 0;
}
.topic .video .preview {
    cursor: pointer;
    position: relative;
}
.topic .video .preview .hover {
    display: none;
}
.topic .video .preview:hover .hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.topic .video figcaption {
    background: #fff;
    height: 46px;
    padding: 14px;
}
.topic .video figcaption h3 {
    font-size: 16px;
    color: #34373b;
    font-weight: normal;
    margin-bottom: 5px;
}
.topic .video figcaption .meta {
    font-size: 12px !important;
    opacity: 0.3;
    color: #34373b;
    letter-spacing: 0px;
}
.topic .video figcaption .meta span i {
    position: relative;
    top: 3px;
}
.topic .video figcaption .meta .duration {
    float: right;
}

.icon-duration,
.icon-play,
.icon-microphone {
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-microphone {
    background: url(../../img/qmv_icon_1.png) no-repeat -7px -3px;
}
.icon-duration {
    background: url(../../img/qmv_icon_2.png) no-repeat center -3px;
}
.icon-play {
    background: url(../../img/qmv_icon_3.png) no-repeat -2px -3px;
}

.ranks .tab-body li {
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    font-size: 14px;
}
.ranks .tab-body li a {
    color: #d1d2d3;
}
.ranks .tab-body li:hover {
    background: #f5f8fa;
}
.ranks .tab-body li:hover a {
    color: #34373b;
}
.ranks .tab-body i {
    color: #393c40;
    background-color: #eff2f3;
    border: 1px solid #d7dee0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    margin-right: 14px;
}
.ranks .tab-body span {
    float: right;
    color: #d1d2d3;
}
.ranks .tab-body i.rank-0,
.ranks .tab-body i.rank-1,
.ranks .tab-body i.rank-2 {
    width: 24px;
    height: 24px;
    border: none;
    text-indent: -999px;
    position: relative;
    left: -3px;
    top: 5px;
    overflow: hidden;
    margin-right: 11px;
}
.ranks .tab-body i.rank-0 {
    background: url(../../img/rank-0.png) no-repeat;
}
.ranks .tab-body i.rank-1 {
    background: url(../../img/rank-1.png) no-repeat;
}
.ranks .tab-body i.rank-2 {
    background: url(../../img/rank-2.png) no-repeat;
}

ul.tab {
    overflow: hidden;
    border-bottom: 1px solid #f5f8fa;
    margin-bottom: 14px;
}
ul.tab li {
    float: left;
    width: 144px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    padding-top: 15px;
    position: relative;
}
ul.tab li span {
    font-size: 14px;
    opacity: 0.3;
    color: #34373b;
}
ul.tab li:hover span {
    opacity: 1;
}
ul.tab li.active:after {
    content: "";
    display: block;
    width: 100px;
    margin: 0 auto;
    border-bottom: 2px solid #ff5253;
    position: absolute;
    bottom: 0;
    left: 22px;
}
ul.tab li.active span {
    opacity: 1;
    color: #ff5253;
}