/**
 * @file css/video/home.css
 * @author leeight
 */

.coverflow-wrapper {
    height: 315px;
    margin-bottom: 30px;
    overflow: hidden;
}
.coverflow-wrapper .loading {
    text-align: center;
    font-size: 24px;
    line-height: 315px;
    opacity: 0.3;
}
.coverflow-wrapper figure {
    margin: 0;
    padding: 0;
    position: relative;
}
.coverflow-wrapper figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 664px;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    display: none;
}
.coverflow-wrapper figcaption h3 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: normal;
}

.coverflow-change-page {
    position: relative;
}

.coverflow-change-page .change-page {
    width: 45px;
    height: 86px;
    position: absolute;
    cursor: pointer;
    opacity: 0.3;
}

.coverflow-change-page .change-page:hover {
    opacity: 0.4;
}

.coverflow-change-page .prev {
    background: url('../../img/prev_inactive.png') 100% 100% no-repeat;
    left: -66px;
    top: -235px;
}
.coverflow-change-page .prev.inactive {
    display: none;
}
.coverflow-change-page .next {
    background: url('../../img/next_inactive.png') 100% 100% no-repeat;
    right: -66px;
    top: -235px;
}
.coverflow-change-page .next.inactive {
    display: none;
}

.ui-state-active figcaption {
    display: block;
}

.topic .header {
    overflow: hidden;
    padding: 15px 0;
    position: relative;
}

.topic .header h2,
.topic .header .anchors li {
    float: left;
}
.topic .header .anchors li a {
    position: relative;
    top: 4px\9;
}

.topic .header h2 {
    font-size:26px;
    color:#fd472e;
    line-height: 30px;
    width: 200px;
}
.topic .header h2 img {
    margin-right: 10px;
}

.topic .header .anchors {
    margin-top: 5px;
    font-size: 14px;
    display: inline-block;
}
.topic .header .anchors a {
    color: rgba(52, 54, 58, 0.50);
}
.topic .header .anchors li {
    margin-right: 20px;
    border:1px solid #f5f8fa;
    border-radius:100px;
    height: 22px;
    padding: 0 10px;
}
.topic .header .anchors li:hover {
    background: #fd472e;
}
.topic .header .anchors li:hover a {
    color: white;
}
.topic .header .more {
    position: absolute;
    right: 0;
    top: 24px;
}
.topic .header .more a {
    color: rgba(52, 54, 58, 0.50);
}

.layout {
    overflow: hidden;
}
.layout .videos,
.layout .ranks {
    float: left;
}

.layout .videos {
    width: 912px;
    margin-right: -16px;
    margin-top: 0;
}
@media all and (min-width: 1400px) {
    .layout .videos {
        width: 1216px;
        margin-right: -16px;
    }
}

@media all and (max-width: 1400px) {
    .videos .video-6,
    .videos .video-7 {
        display: none;
    }
}

.layout .ranks {
    width: 288px;
    height: 490px;
    margin-left: 16px;
    background: #fff;
}

.ranks .tab-body li {
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    font-size: 14px;
}
.ranks .tab-body li a {
    color: #d1d2d3;
}
.ranks .tab-body li:hover {
    background: #f5f8fa;
}
.ranks .tab-body li:hover a {
    color: #34373b;
}
.ranks .tab-body i {
    color: #393c40;
    background-color: #eff2f3;
    border: 1px solid #d7dee0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    margin-right: 14px;
}
.ranks .tab-body span {
    float: right;
    color: #d1d2d3;
}
.ranks .tab-body i.rank-0,
.ranks .tab-body i.rank-1,
.ranks .tab-body i.rank-2 {
    width: 24px;
    height: 24px;
    border: none;
    text-indent: -999px;
    position: relative;
    left: -3px;
    top: 5px;
    overflow: hidden;
    margin-right: 11px;
}
.ranks .tab-body i.rank-0 {
    background: url(../../img/rank-0.png) no-repeat;
}
.ranks .tab-body i.rank-1 {
    background: url(../../img/rank-1.png) no-repeat;
}
.ranks .tab-body i.rank-2 {
    background: url(../../img/rank-2.png) no-repeat;
}

.ranks .tab-body .video-name {
    max-width: 210px;
}