<!-- target: page(master=layout) -->

<!-- block: biz_style -->
<link rel="stylesheet" href="/static/css/video/anchor.css" />
<!-- /block -->

<!-- block: body -->
<div class="content">
  <div class="anchor">
    <div class="profile">
      <div class="avatar">
        <!-- if: ${anchor.avatar} -->
        <img width="80" height="80" src="${anchor.avatar}" />
        <!-- else -->
        <img width="80" height="80" src="http://dummyimage.com/80x80" />
        <!-- /if -->
      </div>
      <div class="info">
        <h3>
          ${anchor.name}
          <strong style="display: none"><i class="icon-tv"></i>正在直播</strong>
        </h3>
        <p>${anchor.description}</p>
      </div>
      <div class="follow disabled">
        <a href="javascript:void(0)"><i class="icon-plus"></i> 订阅</a>
      </div>
    </div>
    <div class="navs">
      <div class="total-count">
        视频 <strong>${totalCount}</strong>
      </div>
      <!-- if: ${anchor.videos.length} -->
      <ul class="tab">
        <li<!-- if: ${orderBy} == "start_time" --> class="active"<!-- /if -->><span><a href="?orderBy=start_time">最新发布</a></span></li>
        <li<!-- if: ${orderBy} == "play_count" --> class="active"<!-- /if -->><span><a href="?orderBy=play_count">最多播放</a></span></li>
      </ul>
      <!-- /if -->
    </div>
  </div>
  <div class="videos">
    <!-- if: ${anchor.videos.length} -->
    <!-- for: ${anchor.videos} as ${video} -->
    <!-- use: home_topic_video(video=${video})-->
    <!-- /for -->
    <!-- else -->
    <p class="empty">暂无数据</p>
    <!-- /if -->
  </div>
  <!-- if: ${totalCount} > ${pageSize} -->
  <div class="pager"></div>
  <!-- /if -->
</div>
<script>
var G_ANCHOR_ID = '${anchor.uid}';
require(['video/anchor'], function (app) {
  app.start(${page}, ${pageSize}, ${totalCount});
});
</script>
<!-- /block -->