<!-- target: page(master=layout) -->

<!-- block: biz_style -->
<link rel="stylesheet" href="/static/css/video/category.css" />
<!-- /block -->

<!-- block: body -->
<div class="content">
  <div class="categories">
    <table>
      <tr>
        <th class="all"><a href="/video/category/all">全部</a></th>
        <td>
            <!-- for: ${categories} as ${c} -->
            <a href="/video/category/${c.name}"
              <!-- if: ${c.name} == ${category.name}-->class="active"<!-- /if -->
            >${c.name}</a>
            <!-- /for -->
        </td>
      </tr>
    </table>
    <div class="search-nav">
      <div>筛选结果<strong>${totalCount}</strong></div>
      <!-- if: ${videos.length} -->
      <ul class="tab">
        <li<!-- if: ${orderBy} == "create_time" --> class="active"<!-- /if -->><span><a href="?orderBy=create_time">最新发布</a></span></li>
        <li<!-- if: ${orderBy} == "play_count" --> class="active"<!-- /if -->><span><a href="?orderBy=play_count">最多播放</a></span></li>    
      </ul>
      <!-- /if -->
    </div>
  </div>
  <div class="videos">
    <!-- if: ${videos.length} -->
    <!-- for: ${videos} as ${video} -->
    <!-- use: home_topic_video(video=${video})-->
    <!-- /for -->
    <!-- else -->
    <p class="empty">暂无数据.</p>
    <!-- /if -->
  </div>
  <!-- if: ${totalCount} > ${pageSize} -->
  <div class="pager"></div>
  <!-- /if -->
</div>

<script>
require(['video/search'], function (app) {
  app.start(${page}, ${pageSize}, ${totalCount});
});
</script>
<!-- /block -->