<!-- target: page(master=layout) -->

<!-- block: biz_style -->
<link rel="stylesheet" href="/static/css/coverflow.css" />
<link rel="stylesheet" href="/static/css/video/home.css" />
<!-- /block -->

<!-- block: body -->
<div class="content">
  <!-- if: ${videos.length} -->
  <div class="coverflow-wrapper">
    <div id="coverflow">
      <!-- for: ${videos} as ${video} -->
      <figure>
        <a href="/video/${video.id}" target="_blank" title="${video.name}"><img width="664" height="305" src="${video.thumbnail_url}" /></a>
        <figcaption>
          <p>${video.name}</p>
          <h3>主播【${video.anchor.name}】</h3>
        </figcaption>
      </figure>
      <!-- /for -->
    </div>
  </div>
  <!-- /if -->

  <!-- for: ${topics} as ${topic} -->
  <!-- use: home_topic(topic=${topic})-->
  <!-- /for -->
</div>
<script>require(['home/index'], function (app) { app.start(); });</script>
<!-- /block -->

<!-- target: home_topic -->
<div class="topic">
  <div class="header">
    <h2><img src="${topic.icon_url}" />${topic.name}</h2>
    <ul class="anchors">
    <!-- for: ${topic.anchors} as ${anchor} -->
    <li><a href="/video/anchor/${anchor.uid}">${anchor.name}</a></li>
    <!-- /for -->
    </ul>
    <div class="more">
      <a href="/video/category/${topic.name}">查看更多&gt;&gt;</a>
    </div>
  </div>
  <div class="layout">
    <div class="videos">
      <!-- for: ${topic.videos} as ${video} -->
      <!-- use: home_topic_video(video=${video})-->
      <!-- /for -->
    </div>
    <div class="ranks">
      <ul class="tab">
        <li class="active" data-body="video-rank"><span>视频排行榜</span></li>
        <li data-body="anchor-rank"><span>主播排行榜</span></li>
      </ul>
      <div class="tab-body">
        <div class="video-rank">
          <ol>
            <!-- for: ${topic.video_rankings} as ${item}, ${index} -->
            <!-- var: _index = ${index} + 1; -->
            <li><i class="rank-${index}">${_index}</i><a href="/video/${item.video_id}">${item.video_name}</a></li>
            <!-- /for -->
          </ol>
        </div>
        <div class="anchor-rank" style="display: none">
          <ol>
            <!-- for: ${topic.anchor_rankings} as ${item}, ${index} -->
            <!-- var: _index = ${index} + 1; -->
            <li><i class="rank-${index}">${_index}</i><a href="/video/anchor/${item.anchor_id}">${item.anchor_name}</a><span>${item.play_count}</span></li>
            <!-- /for -->
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>