<!-- target: page(master=layout) -->

<!-- block: biz_style -->
<link rel="stylesheet" href="/static/css/video/home.css" />
<!-- /block -->

<!-- block: body -->
<div class="content">
  <!-- for: ${topics} as ${topic} -->
  <!-- use: home_topic(topic=${topic})-->
  <!-- /for -->
</div>
<script>require(['home/index'], function (app) { app.start(); });</script>
<!-- /block -->

<!-- target: home_topic -->
<div class="topic">
  <div class="header">
    <h2><img src="${topic.icon_url}" />${topic.name}</h2>
    <ul class="anchors">
    <!-- for: ${topic.anchors} as ${anchor} -->
    <li><a href="/video/anchor/${anchor.uid}">${anchor.name}</a></li>
    <!-- /for -->
    </ul>
    <div class="more">
      <a href="/video/category/${topic.name}">查看更多&gt;&gt;</a>
    </div>
  </div>
  <div class="layout">
    <div class="videos">
      <!-- for: ${topic.videos} as ${video} -->
      <!-- use: home_topic_video(video=${video})-->
      <!-- /for -->
    </div>
    <div class="ranks">
      <ul class="tab">
        <li class="active" data-body="video-rank"><span>视频排行榜</span></li>
        <li data-body="anchor-rank"><span>主播排行榜</span></li>
      </ul>
      <div class="tab-body">
        <div class="video-rank">
          <ol>
            <li><i class="rank-0">1</i><a href="">黄老师说标题让我随便写</a></li>
            <li><i class="rank-1">2</i><a href="">浪漫夏季，我和你</a></li>
            <li><i class="rank-2">3</i><a href="">碧哥:7点网三水友赛</a></li>
            <li><i>4</i><a href="">碧哥:7点网三水友赛哈</a></li>
            <li><i>5</i><a href="">黄老师说标题让我随便写</a></li>
            <li><i>6</i><a href="">黄老师说标题让我随便写是吗23...</a></li>
            <li><i>7</i><a href="">黄老师说标题让我随便写是吗dd...</a></li>
            <li><i>8</i><a href="">浪漫夏季，我和你，你和我巴dd...</a></li>
            <li><i>9</i><a href="">哦里了哦里了哦里了哦里了</a></li>
            <li><i>10</i><a href="">哦里了哦里了哦里了哦里了</a></li>
          </ol>
        </div>
        <div class="anchor-rank" style="display: none">
          <ol>
            <li><i class="rank-0">1</i><a href="">喵z</a><span>198万</span></li>
            <li><i class="rank-1">2</i><a href="">帝师</a><span>198万</span></li>
            <li><i class="rank-2">3</i><a href="">你的喵</a><span>198万</span></li>
            <li><i>4</i><a href="">zzzzzzzz</a><span>198万</span></li>
            <li><i>5</i><a href="">慕诗琪</a><span>198万</span></li>
            <li><i>6</i><a href="">琦琦</a><span>198万</span></li>
            <li><i>7</i><a href="">喵的喵的苗</a><span>198万</span></li>
            <li><i>8</i><a href="">呵呵哒</a><span>198万</span></li>
            <li><i>9</i><a href="">哦里了</a><span>198万</span></li>
            <li><i>10</i><a href="">OMG</a><span>198万</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>